<% provide(:title, t("page.title.users.index") ) %>
<div class="container user-list">
  <h1><%= t("page.title.users.index") %></h1>

  <%= will_paginate %>
    <ul class="users">
      <%= render @users %>
    </ul>
  <%= will_paginate %>
</div>