<p class="action block center">
  <%= link_to video, class: 'btn-floating btn-large waves-effect waves-light tooltipped green lighten-1',
              'data-position' => 'top', 'data-delay' => '50',
              'data-tooltip' => t("page.model.action.show") do %>
      <i class="material-icons right">visibility</i>
  <%end%>

  <%= link_to edit_video_path(video), class: 'btn-floating btn-large waves-effect waves-light tooltipped lime darken-1',
              'data-position' => 'top', 'data-delay' => '50',
              'data-tooltip' => t("page.model.action.edit") do %>
      <i class="material-icons right">create</i>
  <%end%>
  <%= link_to  video, method: :delete, data: { confirm: t("message.are_you_sure") },
               class: 'btn-floating btn-large waves-effect waves-light tooltipped deep-orange accent-4 delete_video',
               'data-position' => 'top', 'data-delay' => '50',
               'data-tooltip' => t("page.model.action.destroy"),:remote => true do %>
      <i class="material-icons right">delete_forever</i>
  <%end%>
</p>