<p>
  <b>Comment:</b>
  <% if !comment.aprove? %>
      <% if current_user.admin? %>
          <%= comment.content %>
        <p>
          <%= link_to "Aprovar", comment_aprove_path(comment) %>
          | <%= link_to "Excluir", comment_destroy_path(comment), method: :delete  %>
        </p>
    <% end %>
<% else %>
    <%= comment.content %>
<% end %>
</p>