<footer class="page-footer grey darken-3">
  <nav class="grey darken-2">
    <div class="container">
      <ul class="right">
        <li>
          <%= link_to "Video News App", root_path%>
        </li>
      </ul>
      <ul class="left">
        <li>
          <%= t('footer.rights') %> - <%= Date.current.year%>
        </li>
      </ul>
    </div>
  </nav>
</footer>