<header class="navbar navbar-fixed-top navbar-inverse">
  <nav class="black">
    <div class="container">
      <div class="nav-wrapper">
        <%= link_to image_tag("logo.png", alt: "Video News App"), root_path%>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <%= render 'layouts/menus' %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <%= render 'layouts/menus' %>
        </ul>
      </div>
    </div>
  </nav>
</header>
